<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataModule.Properties.Settings.NovaTendDBConnectionString"
            connectionString="Data Source=BLACK\SQLEXPRESS;Initial Catalog=NovaTendDB;User ID=nova_db;Password=NovaTendDataBase"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>